#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export DKMS_NAME=saa716x
export DKMS_VERSION=0.6

%:
	dh $@

override_dh_auto_configure:
	chmod +x $(DKMS_NAME)-$(DKMS_VERSION)/make.sh
	dh_auto_configure

override_dh_usrlocal:
